{% extends "base.html" %}

{% block main %}
  
{% if cashflows %}
  <h2 data-testid="monthly-balance">Monthly Balance: £{{ cashflows.monthly_balance|floatformat:2  }}</h2>
  <h2 data-testid="biannual-balance">Biannual Balance: £{{ cashflows.biannual_balance|floatformat:2  }}</h2>
  <h2 data-testid="annual-balance">Annual Balance: £{{ cashflows.annual_balance|floatformat:2  }}</h2>
{% endif %}

<form action="{% url 'create_cashflow' %}" method="POST">
  {% csrf_token %}
  {{ form.as_div }}
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>
</form>

{% if cashflows %}

  <div class="overflow-x-auto h-96">
    <table id="income-list" class="table table-pin-rows">
      <!-- head -->
      <thead>
        <tr>
          <th>Incomes</th>
          <th>Source</th>
          <th>Name</th>
          <th>Amount (£)</th>
          <th>Action</th>
        </tr>
      </thead>

      <!-- Incomes -->
      <tbody>
        {% for item in cashflows.incomes %}
          <tr data-testid="income-list-item" class="hover">
            <th></th>
            <th>{{ item.get_source_display}}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{% include 'cashflows/delete_cashflow_form.html' %}</td>
          </tr>
          {% endfor %}
      </tbody>

      <!-- Expenses -->
      <thead>
        <tr>
          <th>Expenses</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cashflows.expenses %}
          <tr data-testid="expense-list-item" class="hover">
            <th></th>
            <th>{{ item.get_source_display}}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{% include 'cashflows/delete_cashflow_form.html' %}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
    

{% else %}
  <p>No items yet</p>
{% endif %}
  

{% endblock main %}