<h1>hello world</h1>

<h2 data-testid="monthly-balance">Monthly Balance: {{ cashflows.monthly_balance }}</h2>
<h2 data-testid="biannual-balance">Biannual Balance: {{ cashflows.biannual_balance }}</h2>
<h2 data-testid="annual-balance">Annual Balance: {{ cashflows.annual_balance }}</h2>

<form action="{% url 'create_cashflow' %}" method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Add</button>
</form>

<ul>
  {% for item in incomes %}
    <li data-testid="income-list-item">
      {{ item.get_type_display }} 
      {{ item.get_source_display}} 
      {{ item.name }}
      {{ item.amount }} 
      {% include 'delete_cashflow_form.html' %}
    </li>
  {% endfor %}
</ul>

<ul>
  {% for item in expenses %}
    <li data-testid="expense-list-item">
      {{ item.get_type_display}} 
      {{ item.get_source_display}}
      {{ item.name }} 
      {{ item.amount }} 
      {% include 'delete_cashflow_form.html' %}
    </li>
  {% endfor %}
</ul>
