name: Test
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build container for tests
      run: docker-compose -f docker-compose.yaml build

    - name: Run type checks in docker container
      run: docker-compose -f docker-compose.yaml run type_check

    - name: Run unit tests in docker container
      run: docker-compose -f docker-compose.yaml run unit_test

    - name: Run e2e tests in docker container
      run: docker-compose -f docker-compose.yaml run e2e_test